<h1>Create Group</h1>

<form action="/covida/groups/group" method="POST">
	<label for="name">Group Name: </label><br>
	<input type="text" id="name" name="name" required><br>
    <label for="description">Group Description: </label><br>
    <input style="height:200px" type="text" id="description" name="description" required><br><br>
	<input type="submit" value="Create">
</form>