<h1>Create Group</h1>

<p>Group Successfuly Created</p>

<style>
    th,td,tr{
        text-align: center;
    }
</style>

<table style="width: 100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<body>
            <tr>
                <td style="text-align:center">{{id}}</td>
                <td style="text-align:center">{{name}}</td>
                <td style="text-align:center">{{description}}</td>
            </tr>
        </body>
	</thead>
</table>