<h1>Edit Group</h1>

<p><strong>Group Status:</strong> {{message}}</p>
<style>
    th,td{
        text-align: center;
    }
</style>
<table style="width: 100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
            <th>Games</th>
		</tr>
		<body>
            <tr>
                <td style="width: 15%;">{{id}}</td>
                <td style="width: 15%;">{{name}}</td>
                <td style="width: 15%;">{{description}}</td>
            </tr>
        </body>
	</thead>
</table>