<h1>Search Game</h1>

<form action="/covida/games/specificGame" method="GET">
	<label for="game_name">Game Name: </label><br>
	<input type="text" id="game_name" name="game_name" required><br><br>
	<input type="submit" value="Search">
</form>
