<h1>Register</h1>

<form action="/covida/auth/register" method="POST">
    <label for="fullname">Fullname: </label><br>
	<input type="text" id="fullname" name="fullname" required><br>
	<label for="username">Username: </label><br>
	<input type="text" id="username" name="username" required><br>
    <label for="password">Password: </label><br>
    <input type="password" id="password" name="password" required><br><br>
	<input type="submit" value="Create">
</form>